<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vrv.vap.browser.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.vrv.vap.browser.domain.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="head_img_url" jdbcType="VARCHAR" property="headImgUrl"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="sex" jdbcType="BIT" property="sex"/>
        <result column="enabled" jdbcType="BIT" property="enabled"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="company" jdbcType="VARCHAR" property="company"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="is_del" jdbcType="BIT" property="isDel"/>
    </resultMap>

    <resultMap id="UserAndRoleMap" type="com.vrv.vap.browser.domain.SysUser" extends="BaseResultMap">
        <collection fetchType="lazy" property="roles"  column="id"
                    select="com.vrv.vap.browser.mapper.SysRoleMapper.queryRolesByUid" />
    </resultMap>

    <select id="queryUserAndRolesByUid" parameterType="int" resultMap="UserAndRoleMap">
        select *
        from sys_user u where u.id = #{uid}
    </select>

    <select id="queryUserAndRoles" resultMap="UserAndRoleMap">
        select * from sys_user ;
    </select>
</mapper>